extends layout

block content
	.widget
		h1.widget__title Train Times
		ul.train-schedule
			each train in trains.services
				- var timeModifier = (train.availability === 'On time' ? '--onTime' : '--delays')
				li(class='train-schedule__item train-schedule__item#{timeModifier}')
					.train-schedule__info
						span.train-schedule__info-block--top Kings Langley
						span.train-schedule__info-block--middle to
						span.train-schedule__info-block--bottom #{train.destination}
					.train-schedule__time
						time.train-schedule__info-block--top #{train.departureTime}
						span.train-schedule__info-block--middle -
						span.train-schedule__info-block--bottom #{train.availability}

	script(src='/javascripts/index.js')
