.train-schedule
  box-sizing border-box
  display block
  margin 0
  padding 0

.train-schedule__item
  box-sizing border-box
  display block
  padding 24px
  padding 7vmin
  width 100%
  font-size 24px
  font-size 7vmin
  line-height 1em
  color white
  text-align center


.train-schedule__item--onTime
  background-color transparent

.train-schedule__item--delays
  background-color #6F4A01


.train-schedule__item--incident
  background-color #6F0102

.train-schedule__info-block--top, .train-schedule__info-block--bottom, .train-schedule__info-block--middle
  display block
  text-align left

.train-schedule__info-block--middle
  margin 5px 0
  margin 1.5vmin 0

.train-schedule__info, .train-schedule__time
  display inline-block
  height 100%
  vertical-align middle

.train-schedule__time
  margin-left 24px
  margin-left 6.1vmin
  padding-left 24px
  padding-left 7vmin
  border-left 1px solid white
